// Include Main
@use "main" as *;

// Styles
div.popup-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 20, 27, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .popup-bg {
    width: 100%;
    height: 100vh;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
  }

  .popup {
    width: 70vw;
    height: calc(((70vw / 16) * 9) + 40px + 10px);
    background-color: col(bg-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: content-box;
    flex-direction: column;
    @include noSelect();
    border-radius: br();
    z-index: 15;

    .image-container {
      width: 70vw;
      height: calc((70vw / 16) * 9);
      position: relative;
      
      img.popup-full {
        width: 70vw;
        height: auto;
        border-radius: br();
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        @include noDrag();

        &.hidden {
          display: none;
        }
      }
    }

    .bar {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        @include bodyLarge();
        color: col(text-main);
        background-color: col(bg-main-50);
        border-radius: br();
        cursor: pointer;
        padding: 10px 15px;
        transition: 0.25s ease;

        &:hover {
          background-color: col(bg-main-20);
        }
      }

      span {
        color: col(text-main);
        @include bodyMedium();
      }
    }
  }
}

section.main {
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg, col(bg-main) 9.26%, #202B3B 26.06%);
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    mix-blend-mode: lighten;
    opacity: 15%;
  }

  div.content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    width: 1300px;
    height: fit-content;
    margin-top: 45px;
    margin-bottom: 100px;

    .info {
      display: flex;
      width: 1300px;
      flex-direction: column;
      align-items: flex-start;
      gap: 11px;

      .featured {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;

        .header {
          display: flex;
          width: 1300px;
          height: 83px;
          padding: 15px 15px 15px 25px;
          justify-content: space-between;
          align-items: center;
          background-color: col(bg-main);
          border-radius: 5px;

          span {
            color: col(text-main);
            @include headingLarge();
          }
          
          .buttons {
            display: flex;
            width: 504px;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            button {
              display: grid;
              padding: 17px 20px;
              align-items: center;
              gap: 10px;
              border-radius: br();
              background-color: col(bg-highlight);
              border: none;
              @include bodyLarge(); 
              color: col(text-main);
              cursor: pointer;
              grid-template-columns: auto;
              grid-template-rows: auto;
              grid-template-areas: "icon text";
              transition: 0.5s ease all;
              max-width: 200px;
              overflow: hidden;

              i, svg {
                width: 16px;
                height: auto;
                grid-area: icon;
              }

              .solid {
                display: none;
              }

              span {
                @include bodyLarge(); 
                color: col(text-main);
                grid-area: text;
                opacity: 1;
                transition: 0.5s ease all;
              }

              &.wishlist.active {
                background-color: col(accent-red);
                gap: 0px;
                max-width: 56px;

                .solid {
                  display: flex;
                }

                .outline {
                  display: none;
                }

                span {
                  opacity: 0;
                }
              }

              &:hover {
                background-color: col(bg-hover);
              }
            }
          }
        }

        .quick-look {
          display: flex;
          width: 1300px;
          height: 680px;
          padding: 25px;
          justify-content: space-between;
          align-items: flex-start;
          background-color: col(bg-main-50);
          border-radius: 5px;

          .carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 100%;
            width: 825px;

            div.full-container {
              width: 825px;
              height: calc((825px / 16) * 9);

              img.full {
                width: 825px;
                height: auto;
                border-radius: br();
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                aspect-ratio: 16 / 9;
                @include noDrag();
                cursor: pointer;
  
                &.hidden {
                  display: none;
                }
              }
            }

            div.thumbnail-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              .images {
                display: flex;
                width: 745px;
                align-items: center;
                gap: 7px;
                height: 120px;
                overflow-x: scroll;
                overflow-y: hidden;

                /* width */
                &::-webkit-scrollbar {
                  width: 5px;
                  height: 7px;
                  border-radius: br();
                  margin-top: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                  background: rgba(30, 35, 41, 0.39);
                  border-radius: br();
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background-color: col(bg-tertiary);
                  border-radius: br();
                  cursor: pointer;
                  transition: 0.25s ease;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: col(secondary); 
                  border-radius: br();
                }

                img {
                  height: 100px;
                  width: auto;
                  object-fit: cover;
                  aspect-ratio: 16 / 9;
                  @include noDrag();
                  cursor: pointer;
                }
              }

              i, svg {
                color: col(text-main);
                cursor: pointer;
                padding: 10px;
                @include noSelect();
              }
            }

            div.indicators {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              width: 745px;

              .indicator {
                width: 35px;
                height: 8px;
                border-radius: 40px;
                background-color: col(bg-highlight);
                transition: .5s ease;
                @include noSelect();
                cursor: pointer;

                &.active {
                  background-color: col(primary);
                }

                &:hover {
                  background-color: col(bg-hover);
                }
              }
            }
          }

          .details {
            display: flex;
            height: 612px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 400px;

            img {
              width: 400px;
              height: auto;
              border-radius: br();
            }

            .title {
              @include bodyMedium();
              color: col(text-dim);
              width: 90px;
            }

            .content {
              @include bodyMedium();
              color: col(text-main);
              width: calc(100% - 90px);
            }

            .secondary {
              @include bodyMedium();
              color: col(secondary);
            }

            span.desc {
              width: 400px;
              height: fit-content;
              @include bodyLarge();
              color: col(text-main)
            }

            .container-item {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 15px;

              .reviews {
                display: flex;
                width: 400px;
                align-items: center;
                gap: 14px;

                .content {
                  width: 90px;
                }

                .display {
                  width: 138px;
                  height: 23px;
                  display: grid;
                  grid-template-rows: auto;
                  grid-template-columns: auto;
                  grid-template-areas: 
                    "positive negative"
                    "bar bar";
                  gap: 3px;

                  .bar {
                    display: flex;
                    width: 138px;
                    align-items: flex-start;
                    gap: 2px;
                    grid-area: bar;

                    span {
                      height: 4px;
                      border-radius: 2px;
                      opacity: 0.8;

                      &.positive {
                        width: 124px;
                        background-color: col(primary);
                      }

                      &.negative {
                        flex: 1 0 0;
                        background-color: col(accent-red);
                      }
                    }
                  }

                  .positive {
                    display: inline-flex;
                    align-items: center;
                    gap: 3px;
                    grid-area: positive;

                    span {
                      @include bodySmall();
                      color: col(primary);
                    }

                    i, svg {
                      opacity: 0.4;
                      color: col(primary);
                      width: 13px;
                      height: auto;
                    }
                  }

                  .negative {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 3px;
                    grid-area: negative;

                    span {
                      @include bodySmall();
                      color: col(accent-red);
                    }

                    i, svg {
                      opacity: 0.4;
                      color: col(accent-red);
                      width: 13px;
                      height: auto;
                    }
                  }
                }
              }

              .tags {
                display: flex;
                align-items: center;
                gap: 4px;
                width: 400px;
                overflow: hidden;
                flex-wrap: wrap;
                height: 30px;

                span {
                  display: flex;
                  padding: 8px 13px;
                  align-items: center;
                  gap: 10px;
                  border-radius: br();
                  background-color: col(bg-main);
                  color: col(text-main);
                  @include bodySmall();
                  white-space: nowrap;
                }
              }
            }

            .inline-item {
              display: flex;
              align-items: flex-start;
              gap: 15px;
              width: 100%;
            }
          }
        }
      }

      .body {
        display: flex;
        align-items: flex-start;
        gap: 11px;
        align-self: stretch;

        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          flex: 1 0 0;

          .store-entry {
            display: flex;
            width: 850px;
            height: 100px;
            padding: 26px 20px;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            background-color: col(bg-main-50);

            .text {
              display: flex;
              flex-direction: column;
              gap: 6px;
              align-items: flex-start;
              justify-content: flex-start;

              .voucher {
                @include bodyMedium();
                color: col(primary);
              }
            }

            span.name {
              @include headingMedium();
              color: col(text-main);
            }

            .price-platform {
              display: flex;
              align-items: center;
              gap: 25px;

              .platforms {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                i, svg {
                  height: 24px;
                  width: auto;
                  color: col(text-dim)
                }
              }

              .price-container {
                display: flex;
                align-items: center;
                gap: 13px;
                width: 267px;
                justify-content: flex-end;

                .display {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  .percent {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    height: 40px;
                    border-radius: br();
                    background-color: col(accent-green);
                    color: col(bg-main);
                    @include headingSmall();
                  }

                  .prices {
                    display: flex;
                    flex-direction: column;

                    .retail-price {
                      @include headingSmall();
                      color: col(text-dim);
                      text-decoration: line-through;
                      text-decoration-color: rgba(200, 200, 200, 0.8);
                      text-decoration-thickness: 2px;
                    }
    
                    .price {
                      @include headingSmall();
                      color: col(text-main);
                      text-align: right;
    
                      &.sale {
                        color: col(accent-green);
                      }
                    }
                  }
                }

                a {
                  display: flex;
                  width: 100px;
                  height: 44px;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  border-radius: br();
                  background-color: col(secondary);
                  color: col(text-main);
                  @include bodyLarge();
                  cursor: pointer;
                  text-decoration: none;
                  transition: 0.25s ease background-color;

                  &:active, &:visited {
                    color: col(text-main);
                  }

                  &:hover {
                    background-color: col(bg-tertiary);
                  }
                }
              }
            }
          }

          .about {
            width: 850px;
            padding: 20px;
            align-self: stretch;
            border-radius: 5px;
            background-color: col(bg-main-50);
            color: col(text-main);
            line-height: 24px;

            @include bodyLarge();

            h1 {
              color: col(text-dim);
              @include headingMedium();
              margin: 0px;
              width: 100%;
              border: 0;
              border-bottom: 2px;
              border-style: solid;
              padding-bottom: 5px;
              margin-bottom: 10px;
              border-image: linear-gradient(90deg, col(bg-hover) 0%, col(bg-highlight) 100%) 0 0 100%;
            }

            h2 {
              @include bodyLarge();
              color: col(primary);
              margin: 20px 0 10px;
            }

            ul {
              margin: 0;
              padding-left: 20px;
            }

            img {
              margin-bottom: 5px;
            }
          }

          .requirements {
            display: flex;
            width: 850px;
            padding: 20px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-radius: 5px;
            background-color: col(bg-main-50);
            gap: 40px;

            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              .title {
                @include headingSmall();
                color: col(text-dim);
              }

              div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
              }

              button {
                display: flex;
                height: 44px;
                padding: 7px 20px;
                justify-content: center;
                align-items: center;
                border-radius: br();
                border: none;
                @include bodyLarge();
                color: col(text-dim);
                background-color: col(bg-main-50);
                cursor: pointer;
                transition: 0.25s ease;

                &:hover {
                  background-color: col(bg-hover);
                }

                &.active {
                  color: col(text-main);
                  background-color: col(bg-hover);
                }
              }
            }

            .body {
              display: grid;
              justify-content: space-between;
              align-items: flex-start;
              width: 100%;
              grid-template-rows: auto;
              grid-template-columns: auto;
              grid-template-areas: "requirements";

              .container {
                display: flex;
                width: 100%;
                grid-area: requirements;
                gap: 10px;
                
                div {
                  display: flex;
                  width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 15px;
                  color: col(text-main);

                  strong {
                    color: col(text-dim);
                    font-weight: normal;
                    width: 150px;
                  }

                  p {
                    margin: 0;
                    color: col(text-main);
                  }

                  ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    color: col(text-main);
                    @include bodyLarge();
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    min-width: 400px;

                    li:has(> strong) {
                      display: grid;
                      grid-template-columns: 150px 1fr;
                      grid-template-rows: auto;
                      grid-template-areas: "key value";
                      width: 100%;
                      justify-items: stretch;
                      align-items: stretch;

                      strong {
                        grid-area: key
                      }

                      span {
                        grid-area: value;
                        color: col(text-main);
                        @include bodyLarge();

                        ul {
                          margin: 5px 0;
                        }

                        * {
                          color: col(text-main);
                          @include bodyLarge();
                        }
                      }
                    }
                  }
                }
              }
            }

            .legal {
              @include bodyMedium();
              color: col(text-dim);
            }
          }
        }

        .right {
          display: flex;
          width: 440px;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;

          .title {
            @include bodyLarge();
            color: col(text-dim);
            height: 25px;
          }

          .container {
            display: flex;
            padding: 25px 20px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 7px;
            align-self: stretch;
            border-radius: 5px;
            background-color: col(bg-main);
          }

          .features {
            .item {
              display: grid;
              grid-template-columns: 25px 1fr;
              width: 400px;
              height: 34px;
              padding: 0px 13px;
              align-items: center;
              gap: 10px;
              border-radius: br();
              background-color: rgba(30, 35, 41, 0.39);
              color: col(primary);

              i, svg {
                width: auto;
                height: 18px;
                color: col(primary);
                justify-self: center;
                align-self: center;
              }

              img {
                fill: col(primary);
                justify-self: center;
                align-self: center;
              }

              span {
                @include bodySmall();
                color: col(primary );
              }
            }
          }

          .hltb {
            .item {
              display: flex;
              width: 401px;
              height: 34px;
              padding: 8px 13px;
              justify-content: space-between;
              align-items: center;
              background-color: rgba(30, 35, 41, 0.39);
              border-radius: br();

              div {
                display: flex;
                align-items: center;
                gap: 10px;

                i, svg {
                  height: 24px;
                  width: 30px;
                  color: col(primary);
                }

                span {
                  @include bodySmall();
                  color: col(primary);
                }
              }

              span {
                @include bodySmall();
                color: col(text-main);
              }
            }
          }

          .achievements {
            div {
              display: flex;
              width: 400px;
              align-items: center;
              gap: 9px;
            }

            img, .more {
              width: 72px;
              height: 72px;
            }

            .more {
              background-color: col(bg-highlight);
              @include bodyLarge();
              color: col(text-main);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .metacritic {
            .display {
              display: flex;
              width: 100%;
              align-items: center;
              gap: 10px;

              .score {
                display: flex;
                width: 72px;
                height: 72px;
                justify-content: center;
                align-items: center;
                @include headingLarge();
                color: col(text-main);
                border-radius: br();

                &.green {
                  background-color: col(metascore-green);
                }

                &.yellow {
                  background-color: col(metascore-yellow);
                  color: col(bg-main);
                }

                &.red {
                  background-color: col(metascore-red);
                }
              }

              .logo {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 10px;
                flex-wrap: wrap;

                img {
                  width: 50px;
                  height: auto;
                }

                .name {
                  display: flex;
                  height: 50px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;

                  span {
                    @include headingLarge();
                    color: col(text-main);
                  }

                  a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    @include bodySmall();
                    color: col(text-main);

                    i, svg {
                      width: 10px;
                      height: auto;
                      color: col(primary);
                    }
                  }
                }
              }
            }
          }

          .esrb {
            .rating {
              display: flex;
              align-items: flex-start;
              gap: 10px;

              img {
                width: 72px;
                height: auto;
              }

              span {
                @include bodyMedium();
                color: col(text-main);
                margin-bottom: 10px;

                &.heading {
                  color: col(text-dim);
                  margin-bottom: 3px;
                }
              }

              .desc {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }

    .reviews-container {
      display: flex;
      width: 850px;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;

      .heading {
        @include headingMedium();
        color: col(text-main);
      }

      .inner {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;

        .subheading {
          @include headingSmall();
          color: col(text-main);

          span {
            color: col(text-dim);
          }
        }

        .overall {
          display: flex;
          padding: 20px;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          background-color: col(bg-main);
          border-radius: 5px;

          span {
            &.title {
              @include bodyLarge();
              color: col(text-main);
            }

            &.secondary {
              @include bodyMedium();
              color: col(secondary);
            }
          }

          .display {
            width: 138px;
            height: 23px;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            grid-template-areas: 
              "positive negative"
              "bar bar";
            gap: 3px;

            .bar {
              display: flex;
              width: 138px;
              align-items: flex-start;
              gap: 2px;
              grid-area: bar;

              span {
                height: 4px;
                border-radius: 2px;
                opacity: 0.8;

                &.positive {
                  width: 124px;
                  background-color: col(primary);
                }

                &.negative {
                  flex: 1 0 0;
                  background-color: col(accent-red);
                }
              }
            }

            .positive {
              display: inline-flex;
              align-items: center;
              gap: 3px;
              grid-area: positive;

              span {
                @include bodySmall();
                color: col(primary);
              }

              i, svg {
                opacity: 0.4;
                color: col(primary);
                width: 13px;
                height: auto;
              }
            }

            .negative {
              display: flex;
              width: 100%;
              justify-content: flex-end;
              align-items: center;
              gap: 3px;
              grid-area: negative;

              span {
                @include bodySmall();
                color: col(accent-red);
              }

              i, svg {
                opacity: 0.4;
                color: col(accent-red);
                width: 13px;
                height: auto;
              }
            }
          }
        }

        .reviews {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          align-self: stretch;

          .review {
            display: flex;
            padding: 15px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            align-self: stretch;
            border-radius: 5px;
            background-color: col(bg-main-50);

            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              a {
                text-decoration: none;
                display: flex;
                gap: 10px;
                align-items: center;
                margin-right: 5px;
              }

              img {
                width: 16px;
                height: 18px;
              }

              div {
                display: flex;
                align-items: center;
                gap: 10px;
              }

              span {
                &.date {
                  @include bodySmall();
                  color: col(text-dim);
                }

                &.num_reviews {
                  @include bodyMedium();
                  color: col(text-dim);
                }

                &.name {
                  @include bodyMedium();
                  color: col(text-main);
                }
              }
            }

            .recomendation {
              display: flex;
              padding: 5px;
              align-items: flex-start;
              gap: 12px;
              align-self: stretch;
              border-radius: br();
              background-color: col(bg-main);

              img {
                width: 49px;
                height: 49px;
              }
              
              .inner {
                display: flex;
                height: 49px;
                padding: 3px 0px;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: inherit;

                span.text {
                  @include bodyMedium();
                  color: col(text-main);
                }
  
                span.playtime {
                  @include bodyMedium();
                  color: col(text-dim);
                }
              }
            }

            .tags {
              display: flex;
              align-items: flex-start;
              gap: 7px;

              .tag {
                display: flex;
                height: 37px;
                padding: 17px 10px;
                align-items: center;
                gap: 5px;
                background-color: col(bg-main);
                border-radius: br();

                .title {
                  @include bodySmall();
                  color: col(text-main);
                }

                .num {
                  @include bodySmall();
                  color: col(primary)
                }

                i, svg {
                  height: 17px;
                  width: auto;
                  color: col(text-main);
                  opacity: 0.4;
                }
              }
            }

            span.text {
              @include bodyLarge();
              color: col(text-main);
              white-space: pre-line;

              h1 {
                font-size: 26px;
                line-height: 29px;
                color: col(primary);
                font-weight: normal;
                margin-bottom: 10px;
                clear: both;
              }

              h2 {
                font-size: 22px;
                line-height: 25px;
                color: col(primary);
                font-weight: normal;
                margin-bottom: 10px;
                clear: both;
              }

              h3 {
                font-size: 18px;
                line-height: 21px;
                color: col(primary);
                font-weight: normal;
                margin-bottom: 10px;
                clear: both;
              }

              .spoiler {
                background-color: col(bg-main);
                color: col(bg-main);
                cursor: pointer;
                transition: 0.25s ease color;

                &:hover {
                  color: col(text-main);
                }
              }

              code {
                font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
              }
            }
          }
        }
      }
    }
  }
}