// Include Main
@use "main" as *;

// Styles
section.user {
  background: linear-gradient(223deg, #0E141B -9.34%, #14344B 79.71%);
  width: 100%;
  color: col(text-main);
  min-height: calc(100vh - 60px - 66px);
  display: flex;
  justify-content: center;

  div.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 45px;
    width: 1300px;
  }

  .title {
    @include headingLarge();
    font-size: 35px;
  }

  form {
    display: flex;
    flex-direction: column;

    input[type="email"], input[name="password"] {
      width: 450px;
      padding: 10px;
      background-color: col(bg-main-50);
      color: col(text-main);
      border-radius: 0px 2px 2px 0px;
      border: none;
      @include bodyMedium();
      border: 1px solid transparent;
      transition: 0.25s ease;

      &[name="password"] {
        width: 410px;
      }

      &::placeholder {
        color: col(text-dim);
        @include bodyMedium();
      }

      &::-moz-placeholder {
        color: col(text-dim);
        @include bodyMedium();
      }

      &:-moz-placeholder {
        color: col(text-dim);
        @include bodyMedium();
      }

      &:-ms-input-placeholder {
        color: col(text-dim);
        @include bodyMedium();
      }

      &::-webkit-input-placeholder {
        color: col(text-dim);
        @include bodyMedium();
      }

      &:focus {
        outline: none;
        border: 1px solid col(secondary);
      }
    }

    .input-field {
      display: flex;
      background-color: transparent;
      width: max-content;
      border-radius: 2px 0px 0px 2px;
      margin-bottom: 15px;
      height: 38px;
      color: col(text-main);

      &.grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "input icon-right"
          "req icon-right";
        height: auto;
      }

      label {
        grid-area: input;
        display: flex;
        margin-bottom: 0;
      }
    }
  
    label {
      @include bodyMedium();
      color: col(text-dim);
      margin-bottom: 5px;

      &.check {
        @include bodyLarge();
        color: col(text-main);
        display: flex;
        margin-bottom: 15px;
        gap: 5px;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      width: 40px;
      background-color: rgba(14, 20, 27, 0.7);
      border: 1px solid transparent;
      border-right: 1px solid col(bg-hover);
      color: col(text-main);

      &.right {
        grid-area: icon-right;
        border: 1px solid transparent;
        border-left: 1px solid col(bg-hover);
        cursor: pointer;

        img {
          height: 20px;
          filter: invert(1);
          display: none;

          &.active {
            display: flex;
          }
        }

        i, svg {
          display: none;

          &.active {
            display: flex;
          }
        }
      }

      i, svg {
        width: auto;
        height: 20px;
      }
    }
    

  
    input[type="submit"] {
      color: col(text-maim);
      padding: 7px 13px;
      background-color: col(bg-main);
      border-radius: br();
      @include bodyLarge();
      cursor: pointer;
      border: none;
      width: 490px;
      height: 35px;
      transition: 0.25s ease;
  
      &:hover{
        background-color: col(bg-hover);
      }
    }
    
    .error {
      color: col(accent-red);
      text-align: center;
      padding: 7px 13px;
      display: none;
      

      &.active{
        width:auto;
        height:20px;
      }

    }
  


    a[href="/support/"] {
      color: col(text-dim);
      text-align: center;
      margin-top: 10px;
    }
    
  }
}
