@font-face{font-family:"Motiva Sans";src:url("../fonts/MotivaSansRegular.ttf") format("truetype");font-weight:400;font-style:normal}@font-face{font-family:"Motiva Sans";src:url("../fonts/MotivaSansBold.ttf") format("truetype");font-weight:700}:root{--bg-main: rgb(14, 20, 27);--bg-main-50: rgba(14, 20, 27, 0.5);--bg-main-20: rgba(14, 20, 27, 0.2);--bg-highlight: rgb(30, 35, 41);--bg-hover: rgb(49, 56, 67);--bg-secondary: rgb(20, 52, 75);--bg-tertiary: rgb(33, 43, 69);--text-main: rgb(243, 243, 243);--text-dim: rgb(118, 128, 140);--primary: rgb(102, 192, 244);--secondary: rgb(75, 97, 155);--accent-green: rgb(102, 204, 51);--accent-red: rgb(255, 104, 59);--metascore-green: rgb(129, 201, 66);--metascore-yellow: rgb(243, 207, 72);--metascore-red: rgb(229, 61, 27);--border-radius: 3px;--font: Motiva Sans, Arial, Helvetica, sans-serif}*{box-sizing:border-box;font-family:var(--font)}html,body{margin:0;padding:0;scroll-behavior:smooth}body{background-color:var(--bg-main);height:fit-content;display:flex;align-items:center;flex-direction:column;max-width:100vw;scroll-behavior:smooth;min-height:100vh}nav{display:flex;width:100%;height:60px;padding:0px 20px;box-sizing:border-box;justify-content:space-between;align-items:center;background:var(--bg-tertiary);box-shadow:0px 3px 10px var(--bg-main-50);z-index:1}nav .logo{display:flex;padding:10px;justify-content:center;align-items:center;gap:5px;color:var(--text-main);font-family:var(--font);font-weight:bold;font-size:22px;text-decoration:none}nav .logo img{width:26px;height:26px}nav .search{display:flex;align-items:center}nav .search input{width:627px;height:44px;border:none;box-shadow:none;background-color:var(--bg-main-20);padding:14px 20px;color:var(--text-main);font-family:var(--font);font-weight:normal;font-size:14px;border-radius:var(--border-radius)}nav .search input::placeholder{color:var(--secondary);font-family:var(--font);font-weight:normal;font-size:14px}nav .search input::-moz-placeholder{color:var(--secondary);font-family:var(--font);font-weight:normal;font-size:14px}nav .search input:-moz-placeholder{color:var(--secondary);font-family:var(--font);font-weight:normal;font-size:14px}nav .search input:-ms-input-placeholder{color:var(--secondary);font-family:var(--font);font-weight:normal;font-size:14px}nav .search input::-webkit-input-placeholder{color:var(--secondary);font-family:var(--font);font-weight:normal;font-size:14px}nav .search input:focus{outline:none;border:1px solid var(--secondary)}nav .search .fa-magnifying-glass{width:20px;height:20px;position:relative;margin:0;padding:0;left:-32px;color:var(--secondary)}nav .account{display:flex;padding:7px;align-items:center;gap:10px;background-color:var(--bg-main-20)}nav .account img{width:30px;height:30px;border-radius:var(--border-radius)}nav .account span{font-family:var(--font);font-weight:normal;font-size:14px;color:var(--text-main)}section.footer{display:flex;padding:10px;justify-content:space-between;align-items:center;align-self:stretch;background-color:var(--bg-main);height:66px}section.footer .logo{display:flex;padding:10px;justify-content:center;align-items:center;gap:5px;color:var(--text-main);font-family:var(--font);font-weight:bold;font-size:22px;text-decoration:none}section.footer .logo img{width:26px;height:26px}section.footer span{font-family:var(--font);font-weight:normal;font-size:16px;color:var(--text-dim)}section.footer div.buttons{display:flex;align-items:center;gap:10px}section.footer div.buttons a{display:flex;padding:13px 30px;justify-content:center;align-items:center;gap:10px;border-radius:var(--border-radius);font-family:var(--font);font-weight:normal;font-size:16px;color:var(--text-main);text-decoration:none;transition:.25s ease-in-out background-color}section.footer div.buttons a:hover{background-color:var(--bg-tertiary)}section.user{color:var(--text-main)}/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22_main.scss%22,%22user.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AACA,WACE,0BACA,6DACA,gBACA,kBAEF,WACE,0BACA,0DACA,gBA8BF,MACE,2BACA,oCACA,oCACA,gCACA,4BACA,gCACA,+BAEA,gCACA,+BAEA,8BACA,8BAEA,kCACA,gCAEA,qCACA,sCACA,kCAEA,qBAEA,kDA0EF,EACE,sBACA,wBAGF,UAEE,SACA,UACA,uBAGF,KACE,gCACA,mBACA,aACA,mBACA,sBACA,gBACA,uBAEA,iBAGF,IACE,aACA,WACA,YACA,iBACA,sBACA,8BACA,mBACA,8BACA,0CACA,UAEA,UACE,aACA,aACA,uBACA,mBACA,QACA,uBA3EF,wBACA,iBACA,eA2EE,qBAEA,cACE,WACA,YAIJ,YACE,aACA,mBAEA,kBACE,YACA,YACA,YACA,gBACA,mCACA,kBACA,uBA9EJ,wBACA,mBACA,eA8EI,mCAEA,+BACE,uBAnFN,wBACA,mBACA,eAqFI,oCACE,uBAxFN,wBACA,mBACA,eA0FI,mCACE,uBA7FN,wBACA,mBACA,eA+FI,wCACE,uBAlGN,wBACA,mBACA,eAoGI,6CACE,uBAvGN,wBACA,mBACA,eAyGI,wBACE,aACA,kCAIJ,iCACE,WACA,YACA,kBACA,SACA,UACA,WACA,uBAIJ,aACE,aACA,YACA,mBACA,SACA,mCAEA,iBACE,WACA,YACA,mCAGF,kBAzIF,wBACA,mBACA,eAyII,uBAKN,eACE,aACA,aACA,8BACA,mBACA,mBACA,gCACA,YAEA,qBACE,aACA,aACA,uBACA,mBACA,QACA,uBAjLF,wBACA,iBACA,eAiLE,qBAEA,yBACE,WACA,YAIJ,oBA/KA,wBACA,mBACA,eA+KE,sBAGF,2BACE,aACA,mBACA,SAEA,6BACE,aACA,kBACA,uBACA,mBACA,SACA,mCA/LJ,wBACA,mBACA,eA+LI,uBACA,qBACA,6CAEA,mCACE,oCCvTR,aACE%22,%22file%22:%22user.css%22%7D */

.user {
    padding-top: 150px;
    padding-right: 1000px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-bottom: 350px;
}

.welcome  {
    font-size: 30px;
    font-weight: bold;
}

.form input {
    padding: 5px;
    width: 450px;
    background-color:  rgb(30, 35, 41);
    color: aliceblue;
    border-radius: 8px;
}

label[for="email"],
label[for="confirm_email"],
label[for="enter_password"] {
    font-size: 15px;
    font-weight: 300px;
}

.submit {
    font-size: 20px;
}

button[type="continue"]{
    color: white;
    padding: 10px 20px;
    
    font-size: 14px;
    background-color:rgb(30, 35, 41) ;
    border-radius: 8px;
}

button[type="continue"]:hover {
    background-color: rgb(49, 56, 67);
    
}

