{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/user_forms.css') }}">
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<section class="user">
  <a class="logo" href="/">
    <img src="{{ url_for('static', filename='img/controller.svg') }}" alt="Controller Icon" />
    GameScout
  </a>
  <div class="form">
    <div class="header">
      <span>Reset Password</span>
    </div>
    <form method="POST">
      <div class="password-container">
        <div class="field">
          <label for="password">Password</label>
          <div class="input-container">
            <label class="input-field">
              <input type="password" name="password" minlength="8" required>
              <i class="fa-solid fa-lock"></i>
            </label>
            <button class="password-visibility" type="button">
              <img class="slash" src="{{ url_for('static', filename='img/eye-slash-solid.svg') }}">
              <i class="fa-solid fa-eye active normal"></i>
            </button>
          </div>
          <span class="invalid password">Invalid password</span>
        </div>
        <div class="requirements">
          <div class="strength-bg">
            <div class="strength-current"></div>
          </div>
          <div class="text">
            <span class="upper invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Upper case</span>
            <span class="lower invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Lower case</span>
            <span class="digit invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Number</span>
            <span class="special invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Symbol</span>
            <span class="length required"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>8 characters</span>
          </div>
        </div>
      </div>
      <div class="tos-submit">
        <input type="submit" value="Change Password">
      </div>
    </form>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}