{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}">
{% endblock %}

{% block content %}
<section class="user">
  <div class="form">
    <span class="title">Create Your Account</span>
    <form>

      <label for="first_name"> First Name</label>
      <label class="input-field">
        <span class="icon"> <i class="fa-regular fa-user"></i> </span>
        <input type="text" name="first_name" placeholder="First Name">

      </label>


      <label for="email">Email Address</label>
      <label class="input-field">
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" name="email" placeholder="example@gmail.com">
      </label>
      
      <label for="confirm_email">Confirm Email Address</label>
      <label class="input-field">
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" name="confirm_email" placeholder="example@gmail.com">
      </label>

      <label for="enter_password">Enter Password</label>
      <div class="input-field grid">
        <label>
          <span class="icon"><i class="fa-solid fa-lock"></i></span>
          <input type="password" name="password" minlength="8" maxlength="20">
        </label>
        <div class="password-req-container">
          <div class="password-req">
            <span class="heading">Password must contain the following:</span>
            <span class="lower invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>At least <strong>one letter</strong></span>
            <span class="upper invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>At least <strong>one capital letter</strong></span>
            <span class="digit invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>At least <strong>one number</strong> </span>
            <span class="special invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>At least <strong>one special character</strong></span>
            <span class="length invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Be at least <strong>8 characters</strong></span>
          </div>
        </div>
        <button class="icon right">
          <img class="slash" src="{{ url_for('static', filename='img/eye-slash-solid.svg') }}">
          <i class="fa-solid fa-eye active normal"></i>
        </button>
      </div>

      <label class="check">
        <input name="policyagree" type="checkbox">
        I am 13 years of age or older and agree to the terms and policy.
      </label>
      
      <input type="submit" value="Continue">
    </form>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}