{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}">
{% endblock %}

{% block content %}
<section class="user">
  <div class="content">
    <div class="welcome">
      <h1>SIGN IN</h1>
    </div>
  </div>
  <div class ="form">
    <form>
      <label for="email",>Email Address</label><br>
      <input type="email" id="email" name="email" class="email_input_icon">
      <i class="fa-regular fa-envelope"></i><br>
      <br>
      
      <br>
      <label for="enter_password">Enter Password</label><br>
      <input type="password" id="enter_password" name="enter_password">
      <i class="fa-solid fa-lock"></i><br>
      <br>
    </form>



  </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}