{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block style %}
<script src="https://accounts.google.com/gsi/client" async></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/user_forms.css') }}">
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<section class="user">
  <a class="logo" href="/">
    <img src="{{ url_for('static', filename='img/controller.svg') }}" alt="Controller Icon" />
    GameScout
  </a>
  <div class="form">
    <div class="header">
      <span class="header">Create Account</span>
      <!-- <button><i class="fa-brands fa-google"></i><span>Sign up with Google</span></button> -->
      <div id="g_id_onload"
        data-client_id="136372732967-sfn01tfvep2hauimktcs0stbda3qc0ma.apps.googleusercontent.com"
        data-context="signup"
        data-ux_mode="popup"
        data-login_uri="https://gamescout.shop/signup"
        data-auto_prompt="false">
      </div>
      
      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="400px">
      </div>
    </div>
    <div class="hr">
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
        <path d="M0.5 1H135" stroke="#76808C"/>
      </svg>
      <span>Or sign up with email</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
        <path d="M0.5 1H135" stroke="#76808C"/>
      </svg>
    </div>
    <form method="POST">
      <div class="field">
        <label for="email">Email Address</label>
        <label class="input-field">
          <input type="email" name="email" placeholder="example@gmail.com" required>
          <i class="fa-regular fa-envelope"></i>
        </label>
        <span class="invalid email">Invalid email address</span>
        <span class="taken email">This email adress has been taken</span>
      </div>
      <div class="field">
        <label for="username">Username</label>
        <label class="input-field">
          <input type="text" name="username" maxlength="20" required>
          <i class="fa-regular fa-user"></i>
        </label>
        <span class="invalid username">Invalid username</span>
        <span class="taken username">This username has been taken</span>
      </div>
      <div class="password-container">
        <div class="field">
          <label for="password">Password</label>
          <div class="input-container">
            <label class="input-field">
              <input type="password" name="password" minlength="8" required>
              <i class="fa-solid fa-lock"></i>
            </label>
            <button class="password-visibility" type="button">
              <img class="slash" src="{{ url_for('static', filename='img/eye-slash-solid.svg') }}">
              <i class="fa-solid fa-eye active normal"></i>
            </button>
          </div>
          <span class="invalid password">Invalid password</span>
        </div>
        <div class="requirements">
          <div class="strength-bg">
            <div class="strength-current"></div>
          </div>
          <div class="text">
            <span class="upper invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Upper case</span>
            <span class="lower invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Lower case</span>
            <span class="digit invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Number</span>
            <span class="special invalid"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>Symbol</span>
            <span class="length required"><i class="fa-solid fa-xmark active"></i><i class="fa-solid fa-check"></i>8 characters</span>
          </div>
        </div>
      </div>
      <div class="tos-submit">
        <label class="tos">
          <input name="tos" type="checkbox" required>
          <span>I agree to GameScout's <a href="/terms" target="_blank">Terms</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</span>
        </label>
        <input type="submit" value="Create Account">
      </div>
    </form>
    <span class="redirect">Already have an account? <a href="/signin">Sign in</a></span>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}