{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/sign_in.css') }}">
{% endblock %}

{% block content %}
<section class="user">
  <div class="form">
    <span class="title"> Sign In </span>
    <form>
      <label for="email">Email Address</label>
      <label class="input-field">
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" name="email" placeholder="example@gmail.com">
      </label>
      <label for="enter_password">Enter Password</label>
      <div class="input-field grid">
        <label>
          <span class="icon"><i class="fa-solid fa-lock"></i></span>
          <input type="password" name="password" minlength="8" maxlength="20">
        </label>
        <button class="icon right">
          <img class="slash" src="{{ url_for('static', filename='img/eye-slash-solid.svg') }}">
          <i class="fa-solid fa-eye active normal"></i>
        </button>
      </div>
      <input type="submit" value="Continue">
      <a href="/support/" name="support_link"> Can't sign in?</a>
      
    </form>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
{% endblock %}