{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block style %}
<script src="https://accounts.google.com/gsi/client" async></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/user_forms.css') }}">
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<section class="user">
  <a class="logo" href="/">
    <img src="{{ url_for('static', filename='img/controller.svg') }}" alt="Controller Icon" />
    GameScout
  </a>
  <div class="form">
    <div class="header">
      <span class="header">Sign in</span>
      <!-- <button><i class="fa-brands fa-google"></i><span>Sign In With Google</span></button> -->
      <div id="g_id_onload"
        data-client_id="136372732967-sfn01tfvep2hauimktcs0stbda3qc0ma.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="https://gamescout.shop/signup"
        data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="380px">
      </div>
    </div>
    <div class="hr">
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
        <path d="M0.5 1H135" stroke="#76808C"/>
      </svg>
      <span>Or sign in with email</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
        <path d="M0.5 1H135" stroke="#76808C"/>
      </svg>
    </div>
    {% if google == False %}
    <span class="error">Unable to sign in with Google, please sign in via email</span>
    {% elif google == True %}
    <span class="error">Unable to sign in with email, please sign in with Google</span>
    {% endif %}
    <form method="POST">
      <div class="field">
        <label for="email">Email Address</label>
        <label class="input-field">
          <input type="email" name="email" placeholder="example@gmail.com" required>
          <i class="fa-regular fa-envelope"></i>
        </label>
      </div>
      <!-- <div class="field">
        <label for="username">Username</label>
        <label class="input-field">
          <input type="text" name="username" placeholder="JohnDoe" required>
          <i class="fa-regular fa-user"></i>
        </label>
        <span class="invalid username">Invalid username</span>
        <span class="taken username">This username has been taken</span>
      </div> -->
      <div class="password-container">
        <div class="field">
          <label for="password">Password</label>
          <div class="input-container">
            <label class="input-field">
              <input type="password" name="password" required>
              <i class="fa-solid fa-lock"></i>
            </label>
            <button class="password-visibility" type="button">
              <img class="slash" src="{{ url_for('static', filename='img/eye-slash-solid.svg') }}">
              <i class="fa-solid fa-eye active normal"></i>
            </button>
          </div>
        </div>
      </div>
      <a class="forgot-password" href="/account/password">Forgot Password</a>
      <div class="tos-submit">
        {% if error %}
        <span class="error">Invalid Username / Password</span>
        {% endif %}
        {% if success %}
        <span class="success">Log in success!</span>
        {% endif %}
        <input type="submit" value="Sign in">
      </div>
    </form>
    <span class="redirect">No account? <a href="/signup">Sign up</a></span>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
{% endblock %}