{% extends 'base.html' %}
{% block title %}Support{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/support.css') }}">
{% endblock %}

{% block content %}
<section class="support">
  <div class="form">
    <span class="title"> Welcome to GameScout Support</span>
    <div class="choices">
      <input type="submit" name="forgot-password-user" value="placeholder"> 
      <input type="submit" value="placeholder">
      <input type="submit" value="placeholder">
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock %}