{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}


<section class ="user">

<div class ="content">
    <div class= "welcome">
        <h1> Sign up account </h1>
    </div>
</div>
<div class = "form">
    <form>
        <email for="fname">Email Address</email><br>
        <input type="text" id="fname" name="fname"><br>
        <email for="fname">Confirm your Address</email><br>
        <input type="text" id="lname" name="lname">
      </form>
</div>
<div class ="Check box"></div>
    <input name="policyagree" type="checkbox" value="1" />I am 13 years of age or older and agree to the terms of the Steam Subscriber Agreement and the Valve Privacy Policy.<br /> 
	<button type="continue" value="Submit">Continue</button>
  </div>

</section>