{% extends 'base.html' %}
{% block title %}{{ game_details.title }}{% endblock %}

{% block content %}
<section class="main">
  <img class="bg" alt="Background Image" src="{{ game_details.screenshots[0]['path_full'] }}">

  <div class="sidebar"></div>

  <div class="content">
    <div class="info">
      <div class="featured">
        <div class="header">
          <span>{{ game_details.title }}</span>
          <div class="buttons">
            <button><i class="fa-regular fa-heart"></i> Wishlist</button>
            <button><i class="fa-regular fa-eye"></i> Watch</button>
          </div>
        </div>
        <div class="quick-look">
          <div class="carousel">
            <img class="active" src="{{ game_details.screenshots[0]['path_full'] }}">
            <div class="images-container">
              <i class="fa-solid fa-chevron-left"></i>
              <div class="images">
                <img src="{{ game_details.screenshots[0]['path_thumbnail'] }}">
                <img src="{{ game_details.screenshots[1]['path_thumbnail'] }}">
                <img src="{{ game_details.screenshots[2]['path_thumbnail'] }}">
                <img src="{{ game_details.screenshots[3]['path_thumbnail'] }}">
                <img src="{{ game_details.screenshots[4]['path_thumbnail'] }}">
              </div>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="indicators">
              <span class="indicator active"></span>
              <span class="indicator"></span>
              <span class="indicator"></span>
              <span class="indicator"></span>
              <span class="indicator"></span>
            </div>
          </div>
          <div class="details">
            <img src="{{ game_details.header_img }}">
            <span class="desc">{{ game_details.short_description|safe }}</span>
            <div class="container-item">
              <span class="title">Reviews</span>
              <div class="reviews">
                <span class="content">All Time</span>
                <div class="display">
                  <div class="bar">
                    <span class="positive"  style="width: calc({{ game_details.positive_reviews / game_details.total_reviews }} * 134px);"></span>
                    <span class="negative"></span>
                  </div>
                  <div class="positive">
                    <span>{{ (game_details.positive_reviews / game_details.total_reviews * 100)|round|int }}%</span>
                    <i class="fa-solid fa-thumbs-up"></i>
                  </div>
                  <div class="negative">
                    <span>{{ (game_details.negative_reviews / game_details.total_reviews * 100)|round|int }}%</span>
                    <i class="fa-solid fa-thumbs-down"></i>
                  </div>
                </div>
                <span class="secondary">{{ "{:,}".format(game_details.total_reviews) }} Reviews</span>
              </div>
            </div>
            <div class="inline-item">
              <span class="title">Release Date</span>
              <span class="content">{{ game_details.release_date }}</span>
            </div>
            <div class="inline-item">
              <span class="title">Developer</span>
              <span class="content">{{ game_details.developers }}</span>
            </div>
            <div class="inline-item">
              <span class="title">Publisher</span>
              <span class="content">{{ game_details.publishers }}</span>
            </div>
            <div class="container-item">
              <span class="title">Popular Tags</span>
              <div class="tags">
                {% for i in range(0, 6) %}
                <span>{{ game_details.tags[i] }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="left">
          {% for deal in game_details.deals %}
          <div class="store-entry">
            <span class="name">{{ deal.storeName }}</span>
            <div class="price-platform">
              <div class="platforms">
                {% if game_details.platforms.windows %}
                  <i class="fa-brands fa-windows"></i>
                {% endif %}
                {% if game_details.platforms.mac %}
                  <i class="fa-brands fa-apple"></i>
                {% endif %}
                {% if game_details.platforms.linux %}
                  <i class="fa-brands fa-ubuntu"></i>
                {% endif %}
              </div>
              <div class="price-container">
                <div class="display">
                  {% if deal.savings|float|round|int != 0 %}
                  <span class="percent">-{{ deal.savings|float|round|int }}%</span>
                  {% endif %}
                  <div class="prices">
                    {% if deal.savings|float|round|int != 0 %}
                    <span class="retail-price">${{ deal.retailPrice }}</span>
                    {% endif %}
                    <span class="price">${{ deal.price }}</span>
                  </div>
                </div>
                <a href="https://www.cheapshark.com/redirect?dealID={{ deal.dealID}}" target="_blank">Purchase</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="about">
            {{ game_details.detailed_description|safe }}
          </div>
          <div class="requirements">
            <div class="header">
              <span class="title">System Requirements</span>
              <div>
                <button class="active">Windows</button>
                <button>macOS</button>
                <button>Linux</button>
              </div>
            </div>
          </div>
        </div>
        <div class="right">

        </div>
      </div>
    </div>
    <div class="reviews">

    </div>
  </div>
</section>
    <!-- <img src="{{ game_details.header_img }}">
    <p style="padding: 1rem 0;">{{ game_details.short_description|safe }}</p>
    <p>Release Date: {{ game_details.release_date }}</p>
    <p>Total Reviews: {{ game_details.total_reviews }}</p>
    <p>Positive Reviews: {{ game_details.positive_reviews }}</p>
    <p>Negative Reviews: {{ game_details.negative_reviews }}</p>
    {% set score = game_details.positive_reviews / game_details.total_reviews * 100 %}
    <p>{{ '%0.2f' % score|float }}% positive reviews</p> -->

    <!-- <p style="margin: 1rem 0; border-top: 1px solid black; padding-top: 1rem;">{{ game_details.detailed_description|safe }}</p> -->

    <!-- <h2 style="margin-top: 15px;">Screenshots</h2>
    {% for screenshot in game_details.screenshots %}
      <img style="max-width: 300px;" src="{{ screenshot['path_full'] }}">
    {% endfor %} -->

    {% if game_details.platforms['windows'] and game_details.pc_requirements|length > 0 %}
      <div style="margin: 1rem 0;">
        <h3>PC Requirements</h3>
        {% if game_details.pc_requirements['minimum'] %}
        {{ game_details.pc_requirements['minimum']|safe }}
        {% endif %}
        {% if game_details.pc_requirements['recommended'] %}
        {{ game_details.pc_requirements['recommended']|safe }}
        {% endif %}
      </div>
    {% endif %}

    {% if game_details.platforms['mac'] and game_details.mac_requirements|length > 0 %}
      <div style="margin: 1rem 0;">
        <h3>Mac Requirements</h3>
        {% if game_details.mac_requirements['minimum'] %}
        {{ game_details.mac_requirements['minimum']|safe }}
        {% endif %}
        {% if game_details.mac_requirements['recommended'] %}
        {{ game_details.mac_requirements['recommended']|safe }}
        {% endif %}
      </div>
    {% endif %}

    {% if game_details.platforms['linux'] and game_details.linux_requirements|length > 0 %}
      <div style="margin: 1rem 0">
        <h3>Linux Requirements</h3>
        {% if game_details.linux_requirements['minimum'] %}
        {{ game_details.linux_requirements['minimum']|safe }}
        {% endif %}
        {% if game_details.linux_requirements['recommended'] %}
        {{ game_details.linux_requirements['recommended']|safe }}
        {% endif %}
      </div>
    {% endif %}

    {% if game_details.hltb %}
    <h2>HowLongToBeat Data</h2>
    <p>Main: {{ game_details.hltb.main }}</p>
    <p>Main + Sides: {{ game_details.hltb.main_extra }}</p>
    <p>Completionist: {{ game_details.hltb.completionist }}</p>
    <p>All Styles: {{ game_details.hltb.all_styles }}</p>

    {% endif %}
<!-- 
    {% if game_details.deals|length > 0 %}
    <h2>CheapShark Data</h2>
    {% for deal in game_details.deals %}
    <p style="margin: 1rem 0;">Store: {{ deal['storeName'] }}, DealID: {{ deal['dealID'] }}, Current Price: {{ deal['price'] }}, Retail Price: {{ deal['retailPrice'] }}, Savings: {{ '%0.2f' % deal['savings']|float }}%</p>
    {% endfor %}

    {% endif %} -->

    {% if game_details.steam_reviews|length > 0 %}
    <h2>Steam Reviews</h2>

    {% for review in game_details.reviews %}
    <p style="margin: 1rem 0;">Name: {{ review.author.name }}</p>
    <a href="{{ review.author.profile_url }}">Link</a>
    <img src="{{ review.author.avatar }}">
    <p>{{ review['review'] }}</p>
    {% endfor %}

    {% endif %}

    {% endblock %}