@font-face {
  font-family: "Motiva Sans";
  src: url("../fonts/MotivaSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("../fonts/MotivaSansBold.ttf") format("truetype");
  font-weight: 700;
}
:root {
  --bg-main: rgb(14, 20, 27);
  --bg-main-50: rgba(14, 20, 27, 0.5);
  --bg-main-20: rgba(14, 20, 27, 0.2);
  --bg-highlight: rgb(30, 35, 41);
  --bg-hover: rgb(49, 56, 67);
  --bg-secondary: rgb(20, 52, 75);
  --bg-tertiary: rgb(33, 43, 69);
  --text-main: rgb(243, 243, 243);
  --text-dim: rgb(118, 128, 140);
  --primary: rgb(102, 192, 244);
  --secondary: rgb(75, 97, 155);
  --accent-green: rgb(102, 204, 51);
  --accent-red: rgb(255, 104, 59);
  --metascore-green: rgb(129, 201, 66);
  --metascore-yellow: rgb(243, 207, 72);
  --metascore-red: rgb(229, 61, 27);
  --border-radius: 3px;
  --font: Motiva Sans, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-tertiary);
}
nav .logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--text-main);
  font-family: var(--font);
  font-weight: bold;
  font-size: 22px;
}
nav .logo img {
  width: 26px;
  height: 26px;
}
nav .logo a,
nav .logo a:hover,
nav .logo a:active,
nav .logo a:visited {
  text-decoration: none;
  color: var(--text-main);
}
nav .search {
  display: flex;
  align-items: center;
}
nav .search input {
  width: 627px;
  height: 44px;
  border: none;
  box-shadow: none;
  background-color: var(--bg-main-20);
  padding: 14px 20px;
  color: var(--text-main);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
  border-radius: var(--border-radius);
}
nav .search input::placeholder {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
}
nav .search input::-moz-placeholder {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
}
nav .search input:-moz-placeholder {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
}
nav .search input:-ms-input-placeholder {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
}
nav .search input::-webkit-input-placeholder {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
}
nav .search input:focus {
  outline: none;
  border: 1px solid var(--secondary);
}
nav .search .fa-magnifying-glass {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  left: -32px;
  color: var(--secondary);
}
nav .account {
  display: flex;
  padding: 7px;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-main-20);
}
nav .account img {
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius);
}
nav .account span {
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
  color: var(--text-main);
}

section.main {
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg, var(--bg-main) 9.26%, #202B3B 26.06%);
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.main .bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  opacity: 15%;
}
section.main div.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  width: 1300px;
  height: fit-content;
  margin-top: 45px;
}
section.main div.content .info {
  display: flex;
  width: 1300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
section.main div.content .info .featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
section.main div.content .info .featured .header {
  display: flex;
  width: 1300px;
  height: 83px;
  padding: 15px 15px 15px 25px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-main);
  border-radius: 5px;
}
section.main div.content .info .featured .header span {
  color: var(--text-main);
  font-family: var(--font);
  font-weight: bold;
  font-size: 26px;
}
section.main div.content .info .featured .header .buttons {
  display: flex;
  width: 504px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
section.main div.content .info .featured .header .buttons button {
  display: flex;
  padding: 17px 20px;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg-highlight);
  border: none;
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  color: var(--text-main);
  cursor: pointer;
}
section.main div.content .info .featured .header .buttons button i, section.main div.content .info .featured .header .buttons button svg {
  width: 16px;
  height: auto;
}
section.main div.content .info .featured .header .buttons button:hover {
  background-color: var(--bg-hover);
}
section.main div.content .info .featured .quick-look {
  display: flex;
  width: 1300px;
  height: 657px;
  padding: 25px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-main-50);
  border-radius: 5px;
}
section.main div.content .info .featured .quick-look .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.main div.content .info .featured .quick-look .carousel img.active {
  width: 825px;
  height: auto;
  border-radius: var(--border-radius);
}
section.main div.content .info .featured .quick-look .carousel div.images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
section.main div.content .info .featured .quick-look .carousel div.images-container .images {
  display: flex;
  width: 745px;
  align-items: center;
  gap: 7px;
  overflow: hidden;
  height: 100px;
}
section.main div.content .info .featured .quick-look .carousel div.images-container .images img {
  height: 100px;
  width: auto;
}
section.main div.content .info .featured .quick-look .carousel div.images-container i, section.main div.content .info .featured .quick-look .carousel div.images-container svg {
  color: var(--text-main);
}
section.main div.content .info .featured .quick-look .carousel div.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section.main div.content .info .featured .quick-look .carousel div.indicators .indicator {
  width: 35px;
  height: 8px;
  border-radius: 40px;
  background-color: var(--bg-highlight);
}
section.main div.content .info .featured .quick-look .carousel div.indicators .indicator.active {
  background-color: var(--secondary);
}
section.main div.content .info .featured .quick-look .details {
  display: flex;
  height: 612px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
}
section.main div.content .info .featured .quick-look .details img {
  width: 400px;
  height: auto;
  border-radius: var(--border-radius);
}
section.main div.content .info .featured .quick-look .details .title {
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
  color: var(--text-dim);
  width: 90px;
}
section.main div.content .info .featured .quick-look .details .content {
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
  color: var(--text-main);
}
section.main div.content .info .featured .quick-look .details .secondary {
  font-family: var(--font);
  font-weight: normal;
  font-size: 14px;
  color: var(--secondary);
}
section.main div.content .info .featured .quick-look .details span.desc {
  width: 400px;
  height: fit-content;
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  color: var(--text-main);
}
section.main div.content .info .featured .quick-look .details .container-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews {
  display: flex;
  width: 400px;
  align-items: center;
  gap: 14px;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .content {
  width: 90px;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display {
  width: 138px;
  height: 23px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "positive negative" "bar bar";
  gap: 3px;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .bar {
  display: flex;
  width: 138px;
  align-items: flex-start;
  gap: 2px;
  grid-area: bar;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .bar span {
  height: 4px;
  border-radius: 2px;
  opacity: 0.8;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .bar span.positive {
  width: 124px;
  background-color: var(--primary);
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .bar span.negative {
  flex: 1 0 0;
  background-color: var(--accent-red);
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .positive {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  grid-area: positive;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .positive span {
  font-family: var(--font);
  font-weight: normal;
  font-size: 12px;
  color: var(--primary);
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .positive i, section.main div.content .info .featured .quick-look .details .container-item .reviews .display .positive svg {
  opacity: 0.4;
  color: var(--primary);
  width: 13px;
  height: auto;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .negative {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  grid-area: negative;
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .negative span {
  font-family: var(--font);
  font-weight: normal;
  font-size: 12px;
  color: var(--accent-red);
}
section.main div.content .info .featured .quick-look .details .container-item .reviews .display .negative i, section.main div.content .info .featured .quick-look .details .container-item .reviews .display .negative svg {
  opacity: 0.4;
  color: var(--accent-red);
  width: 13px;
  height: auto;
}
section.main div.content .info .featured .quick-look .details .container-item .tags {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 400px;
  overflow: hidden;
  flex-wrap: wrap;
  height: 30px;
}
section.main div.content .info .featured .quick-look .details .container-item .tags span {
  display: flex;
  padding: 8px 13px;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg-highlight);
  color: var(--text-main);
  font-family: var(--font);
  font-weight: normal;
  font-size: 12px;
  white-space: nowrap;
}
section.main div.content .info .featured .quick-look .details .inline-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
section.main div.content .info .body .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
section.main div.content .info .body .left .store-entry {
  display: flex;
  width: 850px;
  height: 100px;
  padding: 26px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: var(--bg-main-50);
}
section.main div.content .info .body .left .store-entry span.name {
  font-family: var(--font);
  font-weight: bold;
  font-size: 22px;
  color: var(--text-main);
}
section.main div.content .info .body .left .store-entry .price-platform {
  display: flex;
  align-items: center;
  gap: 25px;
}
section.main div.content .info .body .left .store-entry .price-platform .platforms {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
section.main div.content .info .body .left .store-entry .price-platform .platforms i, section.main div.content .info .body .left .store-entry .price-platform .platforms svg {
  height: 24px;
  width: auto;
  color: var(--text-dim);
}
section.main div.content .info .body .left .store-entry .price-platform .price-container {
  display: flex;
  align-items: center;
  gap: 13px;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display .percent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 40px;
  border-radius: var(--border-radius);
  background-color: var(--accent-green);
  color: var(--bg-main);
  font-family: var(--font);
  font-weight: bold;
  font-size: 18px;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display .prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display .prices .retail-price {
  font-family: var(--font);
  font-weight: bold;
  font-size: 18px;
  color: var(--text-dim);
  text-decoration: line-through;
  text-decoration-color: rgba(200, 200, 200, 0.8);
  text-decoration-thickness: 2px;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display .prices .price {
  font-family: var(--font);
  font-weight: bold;
  font-size: 18px;
  color: var(--text-main);
  text-align: right;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container .display .prices .price.sale {
  color: var(--accent-green);
}
section.main div.content .info .body .left .store-entry .price-platform .price-container a {
  display: flex;
  width: 100px;
  height: 44px;
  padding: 16px 66px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  color: var(--text-main);
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease-in-out background-color;
}
section.main div.content .info .body .left .store-entry .price-platform .price-container a:active, section.main div.content .info .body .left .store-entry .price-platform .price-container a:visited {
  color: var(--text-main);
}
section.main div.content .info .body .left .store-entry .price-platform .price-container a:hover {
  background-color: var(--bg-tertiary);
}
section.main div.content .info .body .left .about {
  width: 850px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 5px;
  background-color: var(--bg-main-50);
  color: var(--text-main);
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
}
section.main div.content .info .body .left .about h1 {
  color: var(--text-dim);
  font-family: var(--font);
  font-weight: bold;
  font-size: 22px;
  margin: 0px;
  width: 100%;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-image: linear-gradient(90deg, var(--bg-hover) 0%, var(--bg-highlight) 100%) 0 0 100%;
}
section.main div.content .info .body .left .about h2 {
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  color: var(--primary);
  margin: 20px 0 10px;
}
section.main div.content .info .body .left .about ul {
  margin: 0;
  padding-left: 20px;
}
section.main div.content .info .body .left .about img {
  margin-bottom: 5px;
}
section.main div.content .info .body .left .requirements {
  display: flex;
  width: 850px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  background-color: var(--bg-main-50);
}
section.main div.content .info .body .right {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

/*# sourceMappingURL=game.css.map */
