{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/policies.css') }}">
{% endblock %}

{% block content %}
<section class="policy">
  <div class="content">
    <div class="header">
      <span class="title">Terms of Service</span>
      <span class="small">Last updated December 08, 2024</span>
    </div>
    <div class="policy">

    </div>
  </div>
</section>
{% endblock %}